<h1 class="pageHeading">
    Angular Training Assignment
</h1>

<div id="lazyLoadBtns" [routerLinkActive]="'active'" [routerLinkActiveOptions]={exact:true}>
    <button type="button" routerLink="">Home</button>
    <button type="button" routerLink="/floatingBanner">Floating Banner</button>
    <button type="button" routerLink="/ecommercePage">E-Commerce Page</button>
    <button type="button" routerLink="/countdownTimer">Countdown Timer</button>
    <button type="button" routerLink="/serviceTimer">Service using Subject Countdown Timer</button>
    <button type="button" routerLink="/studentMarks">Student Marks Table</button>
    <button type="button" routerLink="/dynamicDivs">Dynamic Divs</button>
</div>
