<div id="wrapper">
    <div class="marks-table">
        <div class="example-header">
          <mat-form-field id="filterBox">
            <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
          </mat-form-field>
          <h1>Student Marks</h1>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc">

          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="class">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Class </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.class}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="sub_1">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Subject 1 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.sub_1}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="sub_2">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Subject 2 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.sub_2}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="sub_3">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Subject 3 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.sub_3}} </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
</div>
