<div id="wrapper" appDetectBottom (scrolledToBottom)="addDivs()">
    <h1>Dynamic Divs</h1>
    <ng-container>
        <div id="dynamicDivs">
            <div class="dynamicDiv" *ngFor="let div of divs; trackBy:identify">
                <div class="divContainer">
                    <p class="title">{{div.title}}</p>
                    <p class="content">{{div.content}}</p>
                    <button class="tenthBtn" type="button" *ngIf="div.tenthDiv" (click)="tenthClick(div.title, div.content, div.number)" data-bs-toggle="modal" data-bs-target="#tenthModal">Click Me</button>
                </div>
            </div>
            <app-spinner *ngIf="newDivs" class="contentLoading" color="warn"></app-spinner>
        </div>
    </ng-container>
</div>

<div class="modal fade" id="tenthModal" tabindex="-1" aria-labelledby="tenthModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="tenthModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="tenthModalContent">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>