<div id="wrapper">
    <h1>Timer Using Input, Output - 2-way data-binding</h1>

    <div id="timerGrid">
        <app-timer-display [timerLimit]="timerLimit" class="gridCell"></app-timer-display>
        <app-timer-inputs [(timerLimit)]="timerLimit" [started]="started" [pauseLog]="pauseLog" class="gridCell" (timerToggled)="toggleTimer()" (resetClicked)="resetTimer()"></app-timer-inputs>
        <app-timer-log [toggleLog]="toggleLog" class="gridCell"></app-timer-log>
        <app-timer-button-log [noOfStarts]="noOfStarts" [noOfPauses]="noOfPauses" class="gridCell"></app-timer-button-log>
    </div>
</div>
