#timerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "countdown inputs"
    "timeLog buttonLog";
    gap: 15px;
}

app-timer-display {
    grid-area: countdown;
}

app-timer-inputs {
    grid-area: inputs;
}

app-timer-log {
    grid-area: timeLog;
}

app-timer-button-log {
    grid-area: buttonLog;
}

.gridCell {
    border: 2px solid black;
}