/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    width: 100%;
    margin: 40px auto;
    border: 1px solid black;
    padding: 15px;
    min-height: 50vh;
}

#wrapper h1 {
    text-align: center;
    margin-bottom: 15px;
    font-weight: 100;
}

@media screen and (min-width: 768px) {
    #wrapper {
        width: 768px;
    }
}

@media screen and (min-width: 1000px) {
    #wrapper {
        width: 1000px;
    }
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
    overflow-y: scroll;
}
